* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

#app {
    width: 600px;
    margin: 5% auto;
    font-size: 22px;
}

.onePart {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.workProgress,
.restProgress {
    height: 50px;
    background: lightgray;
    width: 75%;
    border: 4px inset cyan;
}

.restProgress {
    width: 24%;
    background: lightblue;
}

.workProgress > .progress {
    background: red;
    width: 0;
    height: 100%;
}

.restProgress > .progress {
    background: blue;
    width: 0;
    height: 100%;
}

.redPart {
    height: 50px;
    background: red;
    width: 75%;
    border: 4px inset cyan;
}

.bluePart {
    height: 50px;
    background: blue;
    width: 24%;
    border: 4px inset cyan;
}

input {
    font-size: 16px;
    width: 85px;
    padding: 10px 20px;
}

#minutes {
    display: block;
    margin-left: auto;
}

button {
    padding: 20px;
    border: 5px inset cyan;
    border-radius: 50%;
    height: 140px;
    width: 140px;
    background: lightblue;
    color: white;
    font-size: 26px;
}