* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: red;
}

h1 > span {
    color: blue;
}

#app {
    width: 600px;
    margin: 5% auto;
    font-size: 22px;
}

.onePart {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.workProgress,
.restProgress {
    height: 50px;
    background: lightgray;
    width: 75%;
    border: 8px outset cyan;
    position: relative;
}

.restProgress {
    width: 25%;
    background: lightblue;
}

.workProgress > .progress {
    background: red;
    width: 0;
    height: 100%;
    position: relative;
    z-index: 4;
}

.timeCountdown,
.restProgress::after {
    display: block;
    color: white;
    font-weight: bold;
    z-index: 5;
    position: absolute;
    margin: auto;
    top: 50%; left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.restProgress::after {
    content: 'Rest';
}

.restProgress > .progress {
    background: blue;
    width: 0;
    height: 100%;
    position: relative;
}

.redPart {
    height: 50px;
    background: red;
    width: 75%;
    border: 8px inset cyan;
}

.bluePart {
    height: 50px;
    background: blue;
    width: 25%;
    border: 8px inset cyan;
}

input {
    font-size: 16px;
    width: 85px;
    padding: 10px 20px;
}

#minutes {
    display: block;
    margin-left: auto;
}

button {
    padding: 20px;
    border: 12px outset cyan;
    border-radius: 50%;
    height: 140px;
    width: 140px;
    background: lightblue;
    color: white;
    font-size: 26px;
}