#app {
    width: 600px;
    margin: 0 auto;
    font-size: 22px;
}

.onePart {
    display: flex;
    margin-bottom: 20px;
}

.workProgress,
.restProgress {
    height: 30px;
    background: lightgray;
    width: 75%;
}

.restProgress {
    width: 25%;
    background: lightblue;
}

.workProgress > .progress {
    background: red;
    width: 0;
    height: 100%;
}

.restProgress > .progress {
    background: blue;
    width: 0;
    height: 100%;
}

.redPart {
    height: 30px;
    background: red;
    width: 75%;
}

.bluePart {
    height: 30px;
    background: blue;
    width: 25%;
}